{% extends 'base-back.html.twig' %}

{% block title %}New Actualite{% endblock %}

{% block body %}
    <h1>Create new Actualite</h1>

    {{ include('actualite/_form.html.twig') }}


    <a href="{{ path('app_actualite_index') }}" class="ri-arrow-go-back-fill btn btn-outline-primary"></a>
{% endblock %}
