{% extends 'base-back.html.twig' %}

{% block title %}New Publication{% endblock %}

{% block body %}
    <h1>Create new Publication</h1>

    {{ include('publication/_form.html.twig') }}

    <a href="{{ path('app_publication_index') }}" class="ri-arrow-go-back-fill btn btn-outline-primary">back to list</a>
{% endblock %}
