{% extends 'base-back.html.twig' %}


{% block title %}New Session{% endblock %}

{% block body %}
    <h1>Nouvelle Session</h1>
    <a href="{{ path('app_session_index') }}" class="ri-arrow-go-back-fill btn btn-outline-primary"></a>
    {{ include('session/_form.html.twig') }}

{% endblock %}
