{% extends('base-back.html.twig') %}

{% block body%}

<h1> Inscription</h1>
{{form_start(form,{'attr':{novalidate:'novalidate', class:'needs-validation was-validated'}})}}
{{form_widget(form)}}
{{ form_row(form.image) }}
{{form_end(form)}}

{% endblock %}
