{% extends 'base-front.html.twig' %}

{% block title %}Payment Fail!{% endblock %}

{% block body %}

    {{ parent() }}

    <h1>Thanks for your attempted order!</h1>
    <p>
        We would appreciate your business!
        But your payment failed :(
        <a href="mailto:skander.gassa@esprit.tn">skander.gassa@esprit.tn</a>
    </p>

    <div>

    </div>
{% endblock %}