{% extends 'base-front.html.twig' %}

{% block title %}Payment Success!{% endblock %}

{% block body %}

    {{ parent() }}

    <h1>Thanks for your order!</h1>
    <p>
        We appreciate your business!
        If you have any question, please email
        <a href="mailto:skander.gassa@esprit.tn">skander.gassa@esprit.tn</a>

    </p>

    <div>

    </div>
{% endblock %}