<!DOCTYPE html>
<html lang="eng">
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>

    {% block stylesheets %}

    {% endblock %}

</head>
<body class="index-page sidebar-collapse">
{% block navbar %}

{% endblock %}
{% block body %}{% endblock %}
{% block footer %}

{% endblock %}
{% block javascripts %}



{% endblock %}
</body>
</html>