{% extends 'base-back.html.twig' %}

{% block title %}Détails Équipes{% endblock %}

{% block body %}



    <section class="content">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    <strong>Equipe : </strong>
                    {{ equipe.nomEq }}</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fas fa-minus"></i></button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                        <i class="fas fa-times"></i></button>
                </div>
            </div>
            <div class="card-body">
                <div> <p>
                        <strong> Nom Équipe : </strong>
                        {{ equipe.nomEq }}
                    </p>
                </div><br>
                <div> <p>
                        <strong> Description : </strong>
                        {{ equipe.descriptionEquipe }}
                    </p>
                </div><br>
            </div>
        </div>
    </section>


{% endblock %}