{% extends 'base-back.html.twig' %}

{% block title %}Edit Cours{% endblock %}

{% block body %}
    <h1>Modfier Cours</h1>
    <a href="{{ path('cours.list') }}" class="ri-arrow-go-back-fill btn btn-outline-primary"> </a>
    {{ include('cours/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
